<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>次元仓-最好玩的二次元周边网站</title>
	<link rel="stylesheet" href="AmazeUI-2.7.2/assets/css/amazeui.min.css" />
	<link rel="stylesheet" href="scss/index_style.css" />

	<script src="js/require.js" data-main="js/main"></script>


</head>

<body>
	<div class="bgwhite">
		<div class="header clearfloat">
			<em class="fl">吱，欢迎来到次元仓</em>
			<a href="html/login.html" target="_blank">请登录</a>
			<a href="html/reg.html" target="blank">免费注册</a>
			<div class="fr">
				<a href="#">我的订单</a>
				<a href="#">
					<s></s><b>购物车</b><span>0</span></a>
				<a href="#">收藏夹</a>
				<a href="#">联系客服</a>
				<a href="#"><img src="imgs/header_sina.jpg" alt="" /></a>
			</div>
		</div>
		<div class="logo clearfloat">
			<a class="fl" href="#"><img src="imgs/logo.png" alt="" /></a>
			<div class="center fl">
				<div class="search_input">
					<input type="text" />
					<button>搜 索</button>
				</div>
				<div class="search_hot">
					<a href="#">lolita</a>
					<a href="#">lolita</a>
					<a href="#">lolita</a>
					<a href="#">lolita</a>
					<a href="#">lolita</a>
					<a href="#">lolita</a>
				</div>
			</div>
			<div class="qr fr">
				<img src="imgs/qr.jpg" alt="" />
				<p>下载手机次元仓</p>
			</div>
		</div>
		<div class="nav clearfloat">
			<h1>商品分类</h1>
			<ul class="clearfloat fl">
				<li><a href="#">服饰仓</a></li>
				<li><a href="#">周边仓</a></li>
				<li><a href="#">古风仓</a></li>
				<li><a href="#">手办仓</a></li>
				<li><a href="#">零食仓</a></li>
				<li><a href="#">首饰仓</a></li>
				<li><a href="#">汉风仓</a></li>
			</ul>
			<div class="nav_right fr">
				<span></span>
				<s></s>
				<p>购物车</p><em>(0)</em><b></b>
			</div>
		</div>
	</div>
	<div class="banner clearfloat">
		<ul class="banner_left fl">
			<li><a href="#">上衣、下衣</a></li>
			<li><a href="#">小裙子、外套</a></li>
			<li><a href="#">装扮</a></li>
			<li><a href="#">配件、包包</a></li>
			<li><a href="#">居家宅品、游戏专区</a></li>
			<li><a href="#">办公文具</a></li>
			<li style="border-bottom:0"><a href="#">数码周边</a></li>
</ul>
<div class="classify">
	<h3><a href="#">上衣</a></h3>
	<a href="#">日常</a>
	<a href="#">古风</a>
	<a href="#">寒风</a>
	<a href="#">泳衣</a>
	<a href="#">lolita</a>
	<a href="#">T恤</a>
</div>
<div class="classify">
	<h3><a href="#">小裙子</a></h3>
	<a href="#">日常</a>
	<a href="#">古风</a>

	<a href="#">lolita</a>
	<a href="#">古风</a>
</div>
<div class="classify">
	<h3><a href="#">装扮</a></h3>
	<a href="#">服装</a>
	<a href="#">道具</a>
	<a href="#">假发</a>
	<a href="#">妆面</a>
</div>
<div class="classify">
	<h3><a href="#">配件</a></h3>
	<a href="#">帽子</a>
	<a href="#">围巾</a>
	<a href="#">手表</a>
	<a href="#">配饰</a>
	<a href="#">鞋子</a>
	<a href="#">袜子</a>
</div>
<div class="classify">
	<h3><a href="#">居家宅品</a></h3>
	<a href="#">零食</a>
	<a href="#">创意</a>
	<a href="#">眼镜布</a>
	<a href="#">首饰</a>
	<a href="#">BJD</a>
	<a href="#">手办</a>
</div>
<div class="classify">
	<h3><a href="#">办公文具</a></h3>
	<a href="#">笔记本</a>
	<a href="#">文件夹</a>
	<a href="#">变迁本</a>
	<a href="#">笔袋笔筒</a>
	<a href="#">卡套卡贴</a>
	<a href="#">笔墨</a>
</div>
<div class="classify">
	<h3><a href="#">数码周边</a></h3>
	<a href="#">自拍杆</a>
	<a href="#">票务</a>
	<a href="#">手机壳</a>
	<a href="#">耳机</a>
	<a href="#">交通卡</a>
	<a href="#">U盘</a>
</div>
<div class="am-slider am-slider-default fl" data-am-flexslider id="demo-slider-0">
	<ul class="am-slides">
		<li><a href="html/classify.html" target="_blank"><img src="imgs/banner1.png" /></a></li>
		<li><a href="html/classify.html" target="_blank"><img src="imgs/banner2.png" /></a></li>
		<li><a href="html/classify.html" target="_blank"><img src="imgs/banner3.png" /></a></li>
		<li><a href="html/classify.html" target="_blank"><img src="imgs/banner4.png" /></a></li>
		<li><a href="html/classify.html" target="_blank"><img src="imgs/banner5.png" /></a></li>
	</ul>
</div>
<div class="banner_right fr">
	<img src="imgs/sk_entry.png" alt="" />
	<img src="imgs/tick_entry.png" alt="" />
</div>
</div>
<div class="container">
	<div class="active clearfloat" id="f1">
		<p>活动专场</p>
		<a href="#"><img src="imgs/act_1.png" alt="" /></a>
		<a href="#"><img src="imgs/act_2.png" alt="" /></a>
	</div>
	<div class="flash_buy clearfloat" id="flash_buy">
		<h3 id="daojishi"></h3>
	</div>
	<div class="advise clearfloat" id="f2">
		<div class="new fl">
			<a href="#">
				<p>新品推荐</p><span>更多>></span></a>
		</div>

		<div class="line fl"></div>
		<div class="hot fr">
			<a href="#">
				<p>热卖推荐</p><span>更多>></span></a>
		</div>
		<div class="new_products"></div>
	</div>
	<!-- 手办仓 -->
	<div class="shouban clearfloat" id="f3">
		<div class="shouban_head clearfloat">
			<img class="fl shouban_logo" src="imgs/shouban.png" alt="" />
			<span class="tit">手办仓</span>
			<div class="c3 fr">
				<div class="rotate">
					<span class="bg"></span>
					<a>换一批</a>
				</div>
				<div class="late fl">
					<p>更多<span>>></span></p>

				</div>
			</div>
		</div>
		<div class="shouban_p clearfloat">
			<a class="fl" href=""><img class="fl" src="imgs/shouban0.jpg" alt="" /></a>
		</div>
	</div>
	<!-- 首饰仓 -->
	<div class="shouban clearfloat" id="f4">
		<div class="shouban_head clearfloat">
			<img class="fl shouban_logo" src="imgs/shoushi.png" alt="" />
			<span class="tit">首饰仓</span>
			<div class="c3 fr">
				<div class="rotate">
					<span class="bg"></span>
					<a>换一批</a>
				</div>
				<div class="late fl">
					<p>更多<span>>></span></p>

				</div>
			</div>
		</div>
		<div class="shouban_p clearfloat">
			<a class="fl" href=""><img class="fl" src="imgs/shoushi0.jpg" alt="" /></a>
		</div>
	</div>
	<!-- 零食仓 -->
	<div class="shouban clearfloat" id="f5">
		<div class="shouban_head clearfloat">
			<img class="fl shouban_logo" src="imgs/lingshi.png" alt="" />
			<span class="tit">零食仓</span>
			<div class="c3 fr">
				<div class="rotate">
					<span class="bg"></span>
					<a>换一批</a>
				</div>
				<div class="late fl">
					<p>更多<span>>></span></p>

				</div>
			</div>
		</div>
		<div class="shouban_p clearfloat">
			<a class="fl" href=""><img class="fl" src="imgs/lingshi0.jpg" alt="" /></a>
		</div>
	</div>

	<!-- 古风仓 -->
	<div class="shouban clearfloat" id="f6">
		<div class="shouban_head clearfloat">
			<img class="fl shouban_logo" src="imgs/gufeng.png" alt="" />
			<span class="tit">古风仓</span>
			<div class="c3 fr">
				<div class="rotate">
					<span class="bg"></span>
					<a>换一批</a>
				</div>
				<div class="late fl">
					<p>更多<span>>></span></p>

				</div>
			</div>
		</div>
		<div class="shouban_p clearfloat">
			<a class="fl" href=""><img class="fl" src="imgs/gufeng0.jpg" alt="" /></a>
		</div>
	</div>

	<!-- 周边仓 -->
	<div class="shouban clearfloat" id="f7">
		<div class="shouban_head clearfloat">
			<img class="fl shouban_logo" src="imgs/zhoubian.png" alt="" />
			<span class="tit">周边仓</span>
			<div class="c3 fr">
				<div class="rotate">
					<span class="bg"></span>
					<a>换一批</a>
				</div>
				<div class="late fl">
					<p>更多<span>>></span></p>

				</div>
			</div>
		</div>
		<div class="shouban_p clearfloat">
			<a class="fl" href=""><img class="fl" src="imgs/zhoubian0.jpg" alt="" /></a>
		</div>
	</div>

	<!-- 服饰仓 -->
	<div class="shouban clearfloat" id="f8">
		<div class="shouban_head clearfloat">
			<img class="fl shouban_logo" src="imgs/fushi.png" alt="" />
			<span class="tit">服饰仓</span>
			<div class="c3 fr">
				<div class="rotate">
					<span class="bg"></span>
					<a>换一批</a>
				</div>
				<div class="late fl">
					<p>更多<span>>></span></p>

				</div>
			</div>
		</div>
		<div class="shouban_p clearfloat">
			<a class="fl" href=""><img class="fl" src="imgs/fushi0.jpg" alt="" /></a>
		</div>
	</div>

	<div class="brand clearfloat">
		<ul>
			<li>
				<a href="#"><img src="imgs/brand1.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand2.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand3.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand4.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand5.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand6.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand7.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand8.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand9.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand10.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand11.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand12.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand13.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand14.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand15.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand16.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand17.jpg" /></a>
			</li>
			<li>
				<a href="#"><img src="imgs/brand18.jpg" /></a>
			</li>
		</ul>
	</div>
	<!-- 猜你喜欢 -->
	<div class="guess">

		<h1>猜你喜欢</h1>
		<p style="color:#6c6c6c;text-align: center;">这些商品也一样给力哦</p>
<div class="guess_pic clearfloat"></div>
</div>
<div class="footer">
	<div class="youhui">
		<span>首次下单免费</span>
		<span>自营69元包邮</span>
		<span>7天退货保障</span>
	</div>
	<div class="exp">
		<dl>
			<dt><a href="#">商务合作</a></dt>
			<dd><a href="#">商品进驻</a></dd>
			<dd><a href="#">IP授权</a></dd>
			<dd><a href="#">批发业务</a></dd>
			<dd><a href="#">票务合作</a></dd>
		</dl>
		<dl>
			<dt><a href="#">联系方式</a></dt>
			<dd><a href="#">官方邮箱：act@cycang.com</a></dd>
			<dd><a href="#">渠道合作：act@cycang.com</a></dd>
			<dd><a href="#">媒体合作：act@cycang.com</a></dd>

		</dl>
		<dl>
			<dt><a href="#">客服售后</a></dt>
			<dd><a href="#">客服热线：400-667-1673</a></dd>
			<dd><a href="#">客服QQ1：3112573893</a></dd>
			<dd><a href="#">客服QQ2：2627466500</a></dd>

		</dl>
		<dl>
			<dt><a href="#">直播合作</a></dt>
			<dd><a href="#">QQ：2201959143</a></dd>

		</dl>
		<a href="#" class="qr fl">
			<img src="imgs/qr.jpg" alt="" />
			<p>下载手机次元仓</p>
		</a>
		<div class="fl weibo">
			<img src="imgs/weibo_foot.png" alt="" />
			<p>微博搜索并关注<a href="#">@次元仓</a></p>
			<img src="imgs/wechat_foot.png" alt="" />
			<p><a href="#">微信公众号搜索并关注次元仓</a></p>
		</div>

	</div>
	<div class="beian">
		<p>ICP © 2016 广州脑动网络科技有限公司 版权所有 免责声明（备案号：粤ICP备15028368号)</p>
	</div>
</div>



<!-- temp -->
<script type="text/html" id="temp">
		<% for (var i = 0; i < products.length; i++) {
			var p = products[i];
		%>
			<div class="products fl">
				<a href="#"><img src="<%=p.imgUrl%>" alt="" /></a>
				<div class="text fl">
					<p><%=p.title%></p>
					<div class="fl">
					<div class="span">￥<%=p.price_cur%></div>
					<s>￥<%=p.price_pre%></s>
					</div>
					
					
					<button class="shouqing">马上抢</button>
				</div>
			</div>
		<%}%>
	</script>
<script type="text/html" id="temp2">
		<% for (var i = 0; i < products.length; i++) {
			var p = products[i];
		%>
			<div class="products fl">
				<a href="#"><img src="<%=p.imgUrl%>" alt="" />
				<p><%=p.title%></p>
				<p>￥<%=p.price%></p>
				</a>

			
			</div>
		<%}%>
	</script>
<!-- 手办 -->
<script type="text/html" id="shouban">

		<% for (var i = 0; i < products.length; i++) {
			var p = products[i];
		%>
			<div class="products fl">
				<a href="#"><img src="<%=p.imgUrl%>" alt="" />
				<p><%=p.title%></p>
				<% if(!p.discount) {%>
					<p>￥<%=p.price%></p>
				<%}else{%>
					<div class="text">
					<span><em>折扣价</em>￥<%=p.discount%></span>
					<s>￥<%=p.price%></s>
					</div>
				<%}%>
				
				</a>

			
			</div>
		<%}%>
	</script>

<!-- 首饰 -->
<script type="text/html" id="shoushi">

		<% for (var i = 0; i < products.length; i++) {
			var p = products[i];
		%>
			<div class="products fl">
				<a href="#"><img src="<%=p.imgUrl%>" alt="" />
				<p><%=p.title%></p>
				<% if(!p.discount) {%>
					<p>￥<%=p.price%></p>
				<%}else{%>
					<div class="text">
					<span><em>折扣价</em>￥<%=p.discount%></span>
					<s>￥<%=p.price%></s>
					</div>
				<%}%>
				
				</a>

			
			</div>
		<%}%>
	</script>

<!-- 零食 -->
<script type="text/html" id="lingshi">

		<% for (var i = 0; i < products.length; i++) {
			var p = products[i];
		%>
			<div class="products fl">
				<a href="#"><img src="<%=p.imgUrl%>" alt="" />
				<p><%=p.title%></p>
				<% if(!p.discount) {%>
					<p>￥<%=p.price%></p>
				<%}else{%>
					<div class="text">
					<span><em>折扣价</em>￥<%=p.discount%></span>
					<s>￥<%=p.price%></s>
					</div>
				<%}%>
				
				</a>

			
			</div>
		<%}%>
	</script>

<!-- 古风 -->
<script type="text/html" id="gufeng">

		<% for (var i = 0; i < products.length; i++) {
			var p = products[i];
		%>
			<div class="products fl">
				<a href="#"><img src="<%=p.imgUrl%>" alt="" />
				<p><%=p.title%></p>
				<% if(!p.discount) {%>
					<p>￥<%=p.price%></p>
				<%}else{%>
					<div class="text">
					<span><em>折扣价</em>￥<%=p.discount%></span>
					<s>￥<%=p.price%></s>
					</div>
				<%}%>
				
				</a>

			
			</div>
		<%}%>
	</script>

<!-- 周边 -->
<script type="text/html" id="zhoubian">

		<% for (var i = 0; i < products.length; i++) {
			var p = products[i];
		%>
			<div class="products fl">
				<a href="#"><img src="<%=p.imgUrl%>" alt="" />
				<p><%=p.title%></p>
				<% if(!p.discount) {%>
					<p>￥<%=p.price%></p>
				<%}else{%>
					<div class="text">
					<span><em>折扣价</em>￥<%=p.discount%></span>
					<s>￥<%=p.price%></s>
					</div>
				<%}%>
				
				</a>

			
			</div>
		<%}%>
	</script>

<!-- 服饰 -->
<script type="text/html" id="fushi">

		<% for (var i = 0; i < products.length; i++) {
			var p = products[i];
		%>
			<div class="products fl">
				<a href="#"><img src="<%=p.imgUrl%>" alt="" />
				<p><%=p.title%></p>
				<% if(!p.discount) {%>
					<p>￥<%=p.price%></p>
				<%}else{%>
					<div class="text">
					<span><em>折扣价</em>￥<%=p.discount%></span>
					<s>￥<%=p.price%></s>
					</div>
				<%}%>
				
				</a>

			
			</div>
		<%}%>
	</script>

<!-- 彩泥喜欢 -->
<script type="text/html" id="guess">

		<% for (var i = 0; i < products.length; i++) {
			var p = products[i];
		%>
			<div class="products fl">
				<a href="#"><img src="<%=p.imgUrl%>" alt="" />
				<p><%=p.title%></p>
				<% if(!p.discount) {%>
					<p>￥<%=p.price%></p>
				<%}else{%>
					<div class="text">
					<span><em>折扣价</em>￥<%=p.discount%></span>
					<s>￥<%=p.price%></s>
					</div>
				<%}%>
				
				</a>

			
			</div>
		<%}%>
	</script>

<div id="totop">
	<img src="imgs/to_top.png" alt="" />
</div>
<div id="floor_nav">
	<ul>
		<li><a href="#f1">活动专场</a></li>
		<li><a href="#f2">店长推荐</a></li>
		<li><a href="#f3">手办仓</a></li>
		<li><a href="#f4">首饰仓</a></li>
		<li><a href="#f5">零食仓</a></li>
		<li><a href="#f6">古风仓</a></li>
		<li><a href="#f7">周边仓</a></li>
		<li><a href="#f8">服饰仓</a></li>
	</ul>
</div>
<script src="floor_nav/js/jquery-1.8.3.min.js"></script>
<script src="floor_nav/js/jquery.nav.js"></script>
<script>
		$(function () {
			$(window).on("scroll", function () {
				if ($(window).scrollTop() > 400) {
					$("#floor_nav").show();
				} else {
					$("#floor_nav").hide();
				}
			})

			$('#floor_nav').onePageNav();

		});

	</script>



<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f6140851bf055070f4900075b078d903";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>

</html>